apiVersion: astra.netapp.io/v1
kind: AstraConnector
metadata:
  name: astra-connector
  namespace: astra-connector
spec:
  astra:
    tokenRef: Secret reference to API Token from the API Access page in Astra UI
    accountId: Astra Account ID from the API Access page in Astra UI
    skipTLSValidation: true
    clusterName: Name of your cluster
    astraControlURL: https://integration.astra.netapp.io
    hostAliasIP: 10.193.60.80
